In [34]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix ,classification_report

In [35]:
df=pd.read_csv(r"C:\Users\kanwa\Downloads\Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [47]:
X=df[['Age','User ID']]
y=df['Purchased']
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

classifier=LogisticRegression()
classifier.fit(x_train_scaled,y_train)

y_pred=classifier.predict(x_test_scaled)

In [49]:
cm=confusion_matrix(y_test,y_pred)
tn,fp,fn,tp=cm.ravel()

In [50]:
accuracy=(tn+tp)/(tn+fn+fp+tp)
error_rate=(fn+fp)/(tn+tp+fn+fp)
precision=(tp)/(tp+fn)
recall=(tp)/(tp+fp)
print(cm)
print(accuracy)
print(error_rate)
print(precision)
print(recall)

[[66  2]
 [ 8 24]]
0.9
0.1
0.75
0.9230769230769231